.container-topics {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.existing-topics {
    width: 60%;
    background-color: #ffffff93;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2%;
}

.existing-topics h2 {
    font-weight: bold;
}

.existing-topics ul {
    list-style-type: none;
    padding: 0;
}

.existing-topics li {

    align-items: center;
}

.existing-topics li a:first-child {
    font-weight: bold;
    margin-right: 10px;
}

.existing-topics li a:nth-child(2) {
    border: 1px solid #999999;
    background-color: #dfb4d0;
    border-radius: 1rem;
    width: 108px;
    padding: 2px 5px;
    color: white;
    margin-right: 10px;
}

.existing-topics li p {
    margin: 0;
}

.existing-topics li a:last-child {
    margin-left: auto;
}

.topic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

title {
    color: #fff;
}

.topic-wrapper a.category {
    width: 80px;
    flex-shrink: 0;
}